@import "./reset.css";

body {
  background-color: url();
  width: 100%;
  height: 100%;
}

.wrap {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

header {
  margin: 1rem;
}

.title {
  font-size: 2rem;
  font-weight: 600;

  margin: 1rem;
}

.doc_description {
  text-align: center;
}

main {
  display: flex;
  background-color: rgba(0, 0, 0, 0.7);

  border-radius: 1rem;
  width: 70%;
  height: 400px;
  justify-content: center;
  align-items: center;
}

.container {
  margin: 1rem;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container_img {
  width: 220px;
  height: 220px;
}

.container:hover {
  transform: scale(1.2);
}

.bg_img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;

  opacity: 0.9;
}
