<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/index.css" />
    <title>미정3</title>
  </head>
  <body>
    <div class="wrap">
      <nav>
        <a href="../index.html">👈 메인페이지</a>
      </nav>
      <header><h1 class="title">OOO 프로젝트</h1></header>
      <main></main>
      <img class="bg_img" src="../pictures/bg_img.jpg" alt="" />
    </div>
  </body>
</html>
